# Compiled binary addons (http://nodejs.org/api/addons.html)
build/
dest/
dist/
release/

.build/
.dest/
.dist/
.release/
# Dependency directories
node_modules/
jspm_packages/

# Serverless directories
.serverless